fastapi==0.111.0
uvicorn[standard]==0.30.1
dotenv

# WhisperX latest
whisperx==3.3.0

# Torch stack
torch==2.3.0
torchaudio==2.3.0

# Pyannote version required by WhisperX
pyannote.audio==3.3.2

# Other deps
numpy>=1.24.0,<2.0.0
pydantic==2.7.1